{% if include.file %}
  {%  assign events=site.data.activity[include.file] %}  
{% else %}
  {%  assign events=site.data.activity[page.yaml] %}  
{% endif %}   


<div class="news">
  <div class="table-list">
    {% for entry in events %}
      {% if entry.type=="service" %}
        <h5 class="services">{{ entry.title }}</h5>
        <table>
          <tbody>
            {% for item in entry.contents %}
              <tr>
                <td class="percentage-width">
                  <h6 class="item-badge" style="">
                  <b>{{- item.date -}} {{ }} {{ item.year -}}</b>
                  </h6>
                </td>
                <td>
                  <div style="">
                    {{ item.role }} <i>of</i> <a href="{{ item.venue_url }}" style="font-weight: bold;">{{ item.venue }}</a> 
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    {% endfor %}
  </div>
</div>

<br>

<div class="news">
  <div class="table-list">
    {% for entry in events %}
      {% if entry.type=="review" %}
        <h5 class="services">{{ entry.title }}</h5>
        <table>
          <tbody>
            {% for item in entry.contents %}
              <tr>
                <td class="percentage-width">
                  <h6 class="item-badge" style="">
                  <b>{{- item.title -}}</b>
                  </h6>
                </td>
                <td>
                  <div>
                    {% assign journal_count = item.description | size %}
                    {% comment %} {{ journal_count }} {% endcomment %}
                    {% assign count = 1 %}
                    {% for journal in item.description %}
                      {{ journal }} {% if count<journal_count %} <span>&bull;</span> {% endif %}
                      {% assign count = count | plus: 1 %}
                    {% endfor %}
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    {% endfor %}
  </div>
</div>

