<div  class="col-md-4" style="padding-bottom: 0.25rem">
  <a href="{% if people.redirect %}{{ people.redirect }}{% else %}{{ people.url | relative_url }}{% endif %}">
    <div class="info-card hoverable" style="background-color: var(--global-card-bg-color);">
            <div>
                  <img src="{{ people.img | relative_url }}" alt="Image" class="info-img">
            </div>
              <div class="info-texts">
                <h4 class="info-name">{{ people.title }}</h4>
                <p class="info-about">{{ people.description }}</p>
              </div>
    </div>      
  </a>
</div>

