<div  class="col-md-4" style="padding-bottom: 1rem">
  {% comment %} <a href="{% if people.redirect %}{{ people.redirect }}{% else %}{{ people.url | relative_url }}{% endif %}"> {% endcomment %}
    <div class="info-card hoverable" style="background-color: var(--global-card-bg-color);">
            <div>
                  <img src="{{ "assets/img/people/" | append: people.img | relative_url }}"
                  alt="Image" class="info-img">
            </div>
              <div class="info-texts">
                <h5 class="info-name">{{ people.title }}</h5>
                {% comment %} <p class="info-about">{{ people.description }}</p> {% endcomment %}
                <div class="social_badge">
                  <div class="contact-icons">
                    {% if people.webpage %}
                      <a href="{% if people.redirect %}{{ people.redirect }}{% else %}{{ people.url | relative_url }}{% endif %}" title="Personal Page"><i class="fa-solid fa-house-user" style="padding-right:0.75rem; padding-left:0.5rem"></i></a>
                    {% endif %}
                    {% if people.scholar %}
                      <a href="{{ people.scholar }}" title="Google Scholar"><i class="ai ai-google-scholar-square" style="padding-right:0.75rem"></i></a>
                    {% endif %}
                    {% if people.github %}
                      <a href="{{ people.github }}" title="GitHub"><i class="fa-brands fa-github"></i></a>
                    {% endif %}
                  </div>
                </div>

              </div>
    </div>
  {% comment %} </a> {% endcomment %}
</div>