<ul class="card-text font-weight-light list-group list-group-flush">
  {% comment %} {% assign publications = data[1] | sort: 'releaseDate' | reverse %} {% endcomment %}
  {% for content in entry.contents %}
    <li class="list-group-item">
      <div class="row">
        {% if content.year %}
          <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px">
            <table class="table-cv">
              <tbody>
                <tr>
                  <td>
                    <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px">
                      {{- content.year -}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        {% endif %}
        <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
          <h6 class="title font-weight-bold ml-1 ml-md-4">
          {% if content.session_url %}<a href="{{ content.session_url }}">{{ content.session }}</a>{% else %}{{ content.session }}{% endif %} @ <a href="{{ content.conf_url }}">{{ content.conference }}</a>
          </h6>
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">{{ content.organizers }} </h6>
        </div>
        {% comment %} --------------------- {% endcomment %}
        <!-- Links/Buttons -->
        <div class="links">
          {% if entry.organizers %}
            <a class="abstract btn btn-sm z-depth-0" role="button">Organizers</a>
          {% endif %}
          {% if entry.abstract %}
            <a class="bibtex btn btn-sm z-depth-0" role="button">Abstract</a>
          {% endif %}
          {% if entry.html %}
            {% if entry.html contains '://' %}
              <a href="{{ entry.html }}" class="btn btn-sm z-depth-0" role="button">HTML</a>
            {% else %}
              <a href="{{ entry.html | prepend: '/assets/html/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">HTML</a>
            {% endif %}
          {% endif %}      
          {% if entry.website %}
            <a href="{{ entry.website }}" class="btn btn-sm z-depth-0" role="button">Website</a>
          {% endif %}
        </div>
        {% comment %} ------------------------------ {% endcomment %}
      </div>
      
    </li>
  {% endfor %}
</ul>

