---
layout: default
---
<div class="post">
  <header class="post-header">
    <h2 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h2>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}

      <div class="profile float-center" style="width:80%;">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
          {% endif %}
          {% comment %} ---------------------------------------- {% endcomment %}
          {% comment %} {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 50 | times: 0.2}}px, (min-width: 576px)
          20vw, 80vw"{% endcapture %}  {% endcomment %}

          {%
            include figure.liquid loading="lazy" path=profile_image_path class=profile_image_class alt=page.profile.image width="10rem" 
            cache_bust=true
            align="left"
          %}

          {% comment %} {%
            include figure.liquid loading="lazy" path=profile_image_path class=profile_image_class max-width="10rem" alt=page.profile.image
            cache_bust=true
          %} {% endcomment %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <div class="extra_info">
      <!-- News -->
      {% if page.news and site.announcements.enabled %}
        <h4>
          <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
        </h4>
        {% include new_news.liquid limit=true %}
      {% endif %}

    {% comment %} <!-- Event organized -->
    <h4>
        <a href="/activities/" style="color: inherit">News and activities</a>
    </h4>
    <h5 class="services" style="margin-left:1rem;">News</h5>
    {% include new_news.liquid limit=3 %}
    {% comment %} asdf {% endcomment %}
    <h5 class="services" style="margin-left:1rem;">Recent talks</h5>
    {% include activity_talks.liquid  file="talks" limit=2 %}
    <h5 class="services" style="margin-left:1rem;">Recent events</h5>
    {% include activity_events.liquid file="events" limit=2 %} {% endcomment %}


    <!-- Latest posts -->
      {% if site.latest_posts.enabled %}
        <h4>
          <a href="{{ '/blog/' | relative_url }}" style="color: inherit">Latest posts</a>
        </h4>
        {% include latest_posts.liquid %}
      {% endif %}

      <!-- Recent papers -->
      {% if page.recent_papers %}
        <h4>
          <a href="{{ '/publications/' | relative_url }}" style="color: inherit">Recent publications</a>
        </h4>
        {% include recent_papers.liquid %}
      {% endif %}

      <!-- Selected papers -->
      {% if page.selected_papers %}
        <h4>
          <a href="{{ '/publications/' | relative_url }}" style="color: inherit">Selected publications</a>
        </h4>
        {% include selected_papers.liquid %}
      {% endif %}

      <!-- Social -->
      {% if page.social %}
        <div class="social">
          <div class="contact-icons">{% include social.liquid %}</div>

          <div class="contact-note">{{ site.contact_note }}</div>
        </div>
      {% endif %}

      {% if site.newsletter.enabled and site.footer_fixed %}
        {% include scripts/newsletter.liquid center=true %}
      {% endif %}

    </div>
  </article>
</div>
