---
layout: default
---
<div class="post">
  <header class="post-header">
    <h2 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h2>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    <div class="clearfix">{{ content }}</div>

    <div class="extra_info">
      <!-- Recent events -->
        <h4>
          <a href="{{ '/activities/' | relative_url }}" style="color: inherit">Recent events</a>
        </h4>
        {% include events.liquid %}
      {% endif %}

      {% comment %}  limit=true {% endcomment %}

      <!-- Latest posts -->
      {% if site.latest_posts.enabled %}
        <h4>
          <a href="{{ '/blog/' | relative_url }}" style="color: inherit">Latest posts</a>
        </h4>
        {% include latest_posts.liquid %}
      {% endif %}

      <!-- Recent papers -->
      {% if page.recent_papers %}
        <h4>
          <a href="{{ '/publications/' | relative_url }}" style="color: inherit">Recent publications</a>
        </h4>
        {% include recent_papers.liquid %}
      {% endif %}

      <!-- Selected papers -->
      {% if page.selected_papers %}
        <h4>
          <a href="{{ '/publications/' | relative_url }}" style="color: inherit">Selected publications</a>
        </h4>
        {% include selected_papers.liquid %}
      {% endif %}

      <!-- Social -->
      {% if page.social %}
        <div class="social">
          <div class="contact-icons">{% include social.liquid %}</div>

          <div class="contact-note">{{ site.contact_note }}</div>
        </div>
      {% endif %}

    </div>
  </article>
</div>
