---
layout: default
---
<div class="post">
  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}

    {% if page.yaml %}
        <div class="cv">
          {% for entry in site.data.cv[page.yaml] %}
            <a class="anchor" id="{{ entry.title }}"></a>
            <div class="card mt-3 p-3">
              <h4 class="card-title font-weight-medium">{{ entry.title }}</h4>
              <div>
                {% if entry.type == 'list' %}
                  {% include cv/list.liquid %}
                {% elsif entry.type == 'map' %}
                  {% include cv/map.liquid %}
                {% elsif entry.type == 'nested_list' %}
                  {% include cv/nested_list.liquid %}
                {% elsif entry.type == 'time_table' %}
                  {% include cv/time_table.liquid %}
                {% elsif entry.type == 'list_groups' %}
                  {% include cv/list_groups.liquid %}
                {% elsif entry.type == 'publications' %}
                  {% include cv/publications.liquid %}  
                {% else %}
                  {{ entry.contents }}
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
    {% endif %}
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>